<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gamefikasitrivia">

    <application
        android:name=".Module"
        android:allowBackup="true"
        android:exported="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".MateriExtended"></activity>
        <activity android:name=".ShowHighscore" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegisterActivity" />
        <activity android:name=".HomeScreen" />
        <activity android:name=".PlayAgain" />
        <activity android:name=".GameWon" />
        <activity android:name=".Time_Up" />
        <activity android:name=".MainGameActivity" />
        <activity android:name=".MateriActivity" />
    </application>

</manifest>